# Flutter
.dart_tool/
.packages
.pub/
build/

# Android
android/.gradle/
android/app/build/

# iOS
ios/Pods/

# VS Code
.vscode/

# Firebase
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# MacOS
.DS_Store